<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${event.name}">SingleEvent</title>
</head>
<body>
<div align="center">
    <h1 th:text="${event.name}">Event title</h1>
    Data rozpoczęcia: <span
        th:text="${#temporals.format(event.startDate,'dd-MM-yyyy HH:mm')}">2019-03-02 11:07:10</span>
    <br>Data zakończenia: <span
        th:text="${#temporals.format(event.stopDate, 'dd-MM-yyyy HH:mm')}">2019-03-02 11:07:10</span>
    <p>Opis wydarzenia:<br>
        <span th:text="${event.decription}"></span></p>
    <p>Właściciel wydarzenia: <span th:text="${event.getOwner().getNick()}"></span></p>
    <br>
    <div th:if="${showEditForm}">
    <form method="get" th:action="@{/event/editEvent/{eventId} (eventId=${event.id})}">
        <input type="submit" value="Edytuj">
    </form>
    <br>
    <div th:if="${showCommentForm}">
        <form method="post" th:action="@{/event/{id}/comment/add(id=${event.id})}">
            <textarea name="commentBody" cols="40" rows="10"></textarea>
            <input type="hidden" name="eventId" th:value="${event.id}">
            <br>
            <input type="submit" value="Dodaj komentarz">
        </form>
    </div>

    <div>
        <form method="post" th:action="@{/event/{id}/addUserToEvent(id=${event.id})}">
            <br>
            <input type="submit" value="Zapisz na wydarzenie">
        </form>
    </div>
    <div>
        <form method="post" th:action="@{/event/{id}/removeUserFromEvent(id=${event.id})}">
            <br>
            <input type="submit" value="Wypisz z wydarzenia">
        </form>
        <div>
            <form method="post" th:action="@{/event/{id}/addUserToEvent(id=${event.id})}">
                <br>
                <input type="submit" value="Zapisz na wydarzenie">
            </form>
        </div>
        <div>
            <form method="post" th:action="@{/event/{id}/removeUserFromEvent(id=${event.id})}">
                <br>
                <input type="submit" value="Wypisz z wydarzenia">
            </form>
        </div>
    <div>
        <form method="post" th:action="@{/event/{id}/removeUserFromEvent(id=${event.id})}">
            <br>
            <input type="submit" value="Wypisz z wydarzenia">
        </form>
    </div>

    <br>

    <div style="border: solid green 2px"  th:each="comment:${comments}">
        <p th:text="${comment.body}"></p>
        <p th:text="${comment.added}"></p>
        <p th:text="${comment.getCommentator().nick}"></p>

        <h2 th:value="${comment.id}"   th:if= "${loggedUser.getName()==comment.getCommentator().email}" >
            <!--<form method="get" th:action="@{/event/{id}/comment/{commentId}/editComment(commentId=${comment.id},id=${comment.eventId})}">-->
                <form method="get" th:action="@{/comment/{commentId}/editComment(commentId=${comment.id})}">
                <input type="hidden" name="commentId" th:value="${comment.id}">
                <br>
                <input type="submit" value="Edytuj komentarz">
            </form>
        </h2>



        <br>
    </div>
</div>
    </div>
</div>
</body>
</html>