<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SingleEvent</title>
</head>
<body>

<h1 th:text="${event.name}">Event title</h1>
Data rozpoczęcia: <span th:text="${#temporals.format(event.startDate,'dd-MM-yyyy HH:mm')}">2019-03-02 11:07:10</span>
<br>Data zakończenia: <span th:text="${#temporals.format(event.stopDate, 'dd-MM-yyyy HH:mm')}">2019-03-02 11:07:10</span>
<p th:text="${event.decription}"> Event description</p>

<br>
<br>
<div th:if="${showCommentForm}">
    <form method="post" th:action="@{/event/{id}/comment/add(id=${event.id})}">
        <textarea name="commentBody"></textarea>
        <input type="hidden" name="eventId" th:value="${event.id}">
        <input type="submit" value="Dodaj komentarz">
    </form>
</div>

<div style="border: solid green 3px" th:each="comment:${comments}">
    <h1 th:text="${comment.body}"></h1>
    <h1 th:text="${comment.added}"></h1>
    <h1 th:text="${comment.getCommentator().email}"></h1>
    <br>
</div>

</body>
</html>