<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${event.name}">SingleEvent</title>
</head>
<body>

<h1 th:text="${event.name}">Event title</h1>
Data rozpoczęcia: <span th:text="${#temporals.format(event.startDate,'dd-MM-yyyy HH:mm')}">2019-03-02 11:07:10</span>
<br>Data zakończenia: <span th:text="${#temporals.format(event.stopDate, 'dd-MM-yyyy HH:mm')}">2019-03-02 11:07:10</span>
<p th:text="${event.decription}"> Event description</p>
<form method="get" th:action="@{/event/editEvent/{eventId} (eventId=${event.id})}">
    <input type="submit" value="Edytuj">
</form>

</body>
</html>