* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myBox {
    border: 2px solid sandybrown;
    border-radius: 8px;
    background-color: lightsteelblue;
    margin: 5% 25% 25% 25%;
    padding: 6%;
}

a:link,
a:visited {
    background-color: cornflowerblue;
    border-radius: 4%;
    color: white;
    padding: 4% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

.myMain {
    padding: 1%;
    border: 2px solid orange;
    margin: 2% 10% 0 10%;
    font-size: 14px;
    text-align: center;
}

.myAside {
    padding: 1%;
    border: 2px solid orange;
    margin: 2% 10% 0 10%;
    font-size: 14px;
    text-align: center;


}

.commentOut {
    border: 2px solid orange;
    margin: 2% 2%;
}

.commentIn {
    border: 2px solid green;
    margin: 2% 2%;
}

.footer {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 2%;
}
