<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegisterUser</title>
</head>
<body>
<form method="post" th:action="@{/register}" th:object="${userRegisterForm}">
    <br>E-mail: <input type="text" th:field="*{email}" th:errorClass="error">
    <span class="error" th:errors="*{email}"></span>
    <br>Hasło: <input type="password" th:field="*{password}" th:errorClass="error">
    <span class="error" th:errors="*{password}"></span>
    <br>Nick: <input type="text" th:field="*{nick}" th:errorClass="error">
    <span class="error" th:errors="*{nick}"></span>
    <br><input type="submit" value="Zarejestruj">
</form>
</body>
</html>