<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>EVENTY</h1>
<h3>Niebanalny system obsługi wydarzeń</h3>
<h3>Zalogowany użytkownik:  <span th:text="${loggedUser}"></span></h3>
<h3>Lista aktualnych i nadchodzących wydarzeń:</h3>

<div th:if="${eventList.empty}">
    <span colspan="2">Nie ma żadnego wydarzenia</span>
</div>
<form th:action="@{/findEvents}" >
        Szukaj posta: <input type="text" name="name"><br>
    <select  class="form-control"  name="option">
        <option  value = "przyszłe" selected>przyszłe</option >
        <option value = "trwające i przyszłe">trwające i przyszłe</option>
        <option value = "wszystkie">wszystkie</option>

    </select>
    <br>
    <input type="submit" value="Submit">
</form>
<div th:each="event:${eventList}">
    <h4 th:text="${event.name}">Nazwa</h4>
    <div th:text="${#temporals.format(event.startDate,'dd MM yyyy HH:mm')}">Start</div>
    <div th:text="${#temporals.format(event.stopDate, 'dd-MM-yyyy HH:mm')}">Stop</div>
    <p th:text="${#strings.substring(event.decription, 0, 49)}">Skrócony opis</p>
</div>

<!--<table>-->
    <!--<thread>-->
        <!--<tr>-->
            <!--<th> Nazwa </th>-->
            <!--<th> Początek </th>-->
            <!--<th> Koniec </th>-->
            <!--<th> Opis </th>-->
        <!--</tr>-->
    <!--</thread>-->
    <!--<tbody>-->
    <!---->
    <!--<tr th:each="event:${eventList}">-->
        <!--<td><span th:text="${event.name}">Nazwa</span></td>-->
        <!--<td><span th:text="${#temporals.format(event.startDate,'dd MM yyyy HH:mm')}"> Początek </span></td>-->
        <!--<td><span th:text="${#temporals.format(event.stopDate, 'dd-MM-yyyy HH:mm')}"> Koniec  </span></td>-->
        <!--<td><span th:text="${#strings.substring(event.decription, 0, 49)}"> Opis </span></td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->


</body>
</html>

