<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="myBox" align="center">
    <div align="left">
    <span align="left">
        <a href="/addEvent">
            <button>DODAJ WYDARZENIE</button>
        </a>
        <a href="/">
            <button>START</button>
        </a>
    </span>
    </div>
    <h1>EVENTY</h1>
    <h3>Niebanalny system obsługi wydarzeń</h3>
    <h3>Zalogowany użytkownik: <span th:text="${loggedUser}"></span></h3>
    <h3>Lista aktualnych i nadchodzących wydarzeń:</h3>


    <form th:object="${findEventDto}" th:action="@{/findEvents}">


        Wyszukaj wydarzenie: <input type="text" name="name" th:field="*{name}"> <br/>

        <select th:class="form-control" name="eventType" th:field="*{eventType}">
            <option th:each="eventType : ${eventTypes}"
                    th:value="${eventType}"
                    th:utext="${eventType.getLabel()}"/>
        </select>


        <br>
        <input type="submit" value="Szukaj">
    </form>
    <div th:if="${events.isEmpty()}">
        <span colspan="2">Nie ma żadnego wydarzenia</span>
    </div>
    <div th:if="${eventList.isEmpty()}">
        <span colspan="2">Nie ma żadnego wydarzenia</span>
    </div>

    <div th:each="event:${eventList}">
        <h2>
            <a th:text="${event.name}" th:href="@{/event/{eventId}(eventId=${event.id})}">Nazwa</a>
        </h2>
        <div th:text="${#temporals.format(event.startDate,'dd-MM-yyyy HH:mm')}">Start</div>
        <div th:text="${#temporals.format(event.stopDate, 'dd-MM-yyyy HH:mm')}">Stop</div>

        <p th:if="${#strings.length(event.decription)>49}" th:text="${#strings.substring(event.decription,0,49)}">
            Skrócony
            opis</p>
        <p th:unless="${#strings.length(event.decription)>49}" th:text="${event.decription}">Skrócony opis</p>


        <div th:text="${event.getOwner().nick}"></div>

    </div>
    <a href="/logout">Logout</a>

    <footer>
        <p>&copy; Repozytorium wydarzeń</p>
    </footer>

</div>
</body>
</html>

