<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>EVENTY</h1>
<h3>Niebanalny system obsługi wydarzeń</h3>
<h3>Zalogowany użytkownik:  <span th:text="${loggedUser}"></span></h3>
<h3>Lista aktualnych i nadchodzących wydarzeń:</h3>

<div th:each="event:${eventList}">
    <h4 th:text="${event.name}">Nazwa</h4>
    <div th:text="${#temporals.format(event.startDate,'dd MM yyyy HH:mm')}">Start</div>
    <div th:text="${#temporals.format(event.stopDate, 'dd-MM-yyyy HH:mm')}">Stop</div>
    <p th:text="${#strings.substring(event.decription, 0, 49)}">Skrócony opis</p>
    <div th:text="${event.getOwner().nick}"></div>
</div>

</body>
</html>

