<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        a:link, a:visited {
            background-color: cornflowerblue;
            color: white;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: red;
        }
    </style>
</head>
<body>
<h1>EVENTY</h1>
<h3>Niebanalny system obsługi wydarzeń</h3>
<br><a href="/login">Zaloguj się</a>
<br>
<br><a href="/register">Zarejestruj się</a>
</body>
</html>

